div {
  color: blue;
}

body {
  margin: 0;
  font-family: "Noto Sans Japanese",'メイリオ',Verdana,"ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3",Arial,Helvetica,sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  transition: .3s;
  padding: 30px 4% 10px;
  margin: 0;
  display: flex;
  align-items: center;
}

header .headline {
  font-size: 32px;
  font-weight: normal;
  float: left;
  color: white;
  margin: 0 15px;
}

header font {
  color: navy;
}

.nav-list {
  text-align: center;
  paddind: 10px 0;
  margin: 0 auto;
  display: flex;
}

.nav-list-item {
  list-style: none;
  margin: 0 20px;
  color: white;
}

.parallax-window {
  height: 800px;
  min-width: 1200px;
  margin: 0;
  background: transparent;
}

.parallax-slider {
  top: 0;
  left: 0;
}

main {
  background-color: black;
  margin: 0;
}

.block {
  display: flex;
  margin: 0 0 60px;
  padding: 60px 7.5% 0px 7.5%;
 }

.image {
  width: 45%;
 }

.text {
  color: white;
  background-color: #373737;
}

.img1 {
  margin-bottom: 80px;
  z-index: 20;
}

.text1 {
  margin-top: 80px;
  background-color: #373737;
  margin: 80px 0 0 -7.5%;
  padding: 80px 7.5% 80px 15%;
}

.title1 {
  font-size: 30px;
  margin-bottom: 40px;
}

.subtitle1 {
  font-weight: bolder;
}

.text1 p {
  padding-top: 20px;
}

.text2 {
  margin-bottom: 80px;
  padding: 80px 7.5% 80px 15%;
}

.title2 {
  font-size: 30px;
  margin-bottom: 40px;
}

.text2 p {
  padding-top: 20px;
}

.img2 {
  margin: 80px 0 0 -7.5%;
  z-index: 20;
}

.block-enjin {
  display: block;
}

.img-enjin {
  display: block;
  width: 90%;
  margin: 0 auto 0 auto;
  position: relative;
  z-index: 20;
}

.text-enjin {
  background-color: #373737;
  width: 60%;
  margin: -60px auto 0 auto;
  padding: 60px 15% 80px 5%;
  position: relative;
  z-index: 10;
}

.title-enjin {
  font-size: 30px;
  margin-bottom: 20px;
}

.subtitle-enjin {
  font-weight: bolder;
}

.text-enjin p {
  padding-top: 20px;
}
